POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
DB_HOST=db
DB_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
JWT_SECRET=JWT_SECRET
API_PORT=8080
API_HOST=localhost
ALLOW_ORIGINS=localhost:3000,example.com